/node_modules/

!/local/logs/.gitkeep
/local/logs/*
/logs/

.env.*
!.env.local
!.env.test

tests/coverage/*

/var/log/*
/var/cache/*
!/var/log/.gitkeep
!/var/cache/.gitkeep

.DS_Store

.vscode/

.cache

dist/*

.nyc_output/
coverage/

.npmrc


/ipfs_storage/*
/tmp/*
